@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #2292a4;
    --rose: #701633;
    --cream: #f5efed;
}

h1 {
    font-weight: bold;
    letter-spacing: -0.250rem;
    font-size: 68px;
    line-height: 68px;
}

h2 {
    font-weight: 600;
    letter-spacing: -0.125rem;
    font-size: 48px;
    line-height: 52px;
}

h3 {
    font-weight: 400;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 24px;
}

h4 {
    font-weight: 600;
    letter-spacing: -0.05rem;
    font-size: 24px;
    line-height: 28px;
}

p {
    font-weight: 200;
    line-height: 24px;
    font-size: 18px;
}

.menuitem {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}