@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #2292a4;
    --blue-hover:#1a6f7c;
    --blue-15: #2293a421;
    --rose: #701633;
    --rose-hover: #541026;
    --rose-15: #70163241;
    --cream: #f5efed;
    --cream-85: #f5efeddf;
    --cream-25: #f5efed4b;
    --cream-10: #f5efed1f;
    --success: #22c55e;
    --success-10: rgba(0, 255, 0, 0.100);
    --error: #ef4444;
    --error-hover: rgb(187, 6, 6);
}

.menuitem {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

/*Container*/

.container-inner {
    width: 100%;
}
@media (min-width: 640px) {
    .container-inner {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container-inner {
        max-width: 640px;
    }
}
@media (min-width: 1024px) {
    .container-inner {
        max-width: 640px;
    }
}
@media (min-width: 1280px) {
    .container-inner {
        max-width: 768px;
    }
}
@media (min-width: 1536px) {
    .container-inner {
        max-width: 1024px;
    }
}


/*SCROLLBARS*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--cream);
    border-radius: 5px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue); 
  }

  /*Custom shadow*/

  .shadow-special {
    box-shadow: 0px 5px 30px -15px var(--rose-15);
  }

  /*Lightbox orientation fix*/

  .lightbox {
    image-orientation: from-image;
    object-fit: cover; /* Ensure it fills the container correctly */
  }